parameters:
	level: 8
	paths:
		- src
		- tests
	bootstrapFiles:
		- phpstan-bootstrap.php
	ignoreErrors:
		- identifier: missingType.iterableValue
		- identifier: generics.notSubtype
		- identifier: argument.templateType


